@import '../../scss/minxi/minxi.scss';
@import '../../scss/variable/variable.scss';
page {
  background: #fff;
}
.nav-section {
  width: 690rpx;
  margin: -50rpx auto 0;
  border-radius: 6px;
  padding: 20rpx 40rpx;
  background: #fff;
  // border-bottom: 20rpx solid #f8f8f8;
  z-index: 200;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  .flex-box {
    flex-wrap: wrap;
    // justify-content: space-between;
  }
  .flex-item {
    padding: 20rpx 0;
    flex: 0 0 (100% / 4);
  }
  .image {
    width: 80rpx;
    height: 80rpx;
    display: block;
    margin: 0 auto 10rpx;
  }
  .text {
    font-size: 24rpx;
    color: #333;
    text-align: center;
    font-weight: 500;
  }
}

.recruitment-list {
  .card {
    background: #fff;
    padding: 30rpx 40rpx;
    border-bottom: 12rpx solid #f8f8f8;
    .company-base {
      margin-bottom: 20rpx;
      .name {
        font-weight: 500;
        font-size: 33rpx;
        color: #000;
      }
      .price {
        font-size: 29rpx;
        color: #0866ff;
        font-weight: 500;
        margin-left: auto;
      }
    }
    .company-info {
      font-size: 25rpx;
      color: #666;
      margin-bottom: 30rpx;
      text {
        margin-right: 30rpx;
      }
    }
    .company-hr {
      display: flex;
      align-items: center;
      font-size: 24rpx;
      .avatar {
        width: 45rpx;
        height: 45rpx;
        border-radius: 50%;
        margin-right: 16rpx;
      }
      text {
        margin-right: 12rpx;
      }
      .fr {
        color: #999;
      }
    }
  }
}
.van-sticky-wrap--fixed {
  .edit-section {
    background: $bodycolor !important;
    .type-tabs {
      .item {
        color: #fff;
        &.active {
          color: #fff;
        }
      }
    }
    .btn {
      .iconfont {
        color: #fff;
      }
    }
  }
}
.edit-section {
  background: #fff;
  padding: 30rpx 40rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  @include border-bottom($borderColor, 40rpx, 40rpx);
  .type-tabs {
    flex: 1;
    display: flex;
    align-items: center;
    .item {
      margin-right: 30rpx;
      font-size: 27rpx;
      font-weight: 500;
      color: #666;
      white-space: nowrap;
      &.active {
        font-size: 38rpx;
        color: #333;
      }
    }
  }
  .btn {
    margin-left: auto;
    font-size: 0;
    padding-left: 40rpx;
    .iconfont {
      color: #444;
    }
    .icon {
      width: 34rpx;
      height: 34rpx;
    }
  }
}

.swiper-section {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  height: 420rpx;
  .radius-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 100px;
    display: block;
    text-align: center;
    background: radial-gradient(30px at 22px 0px, transparent 30px, #fff 30px);
    z-index: 21;
  }
  .radius-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 100px;
    display: block;
    text-align: center;
    background: radial-gradient(30px at 22px 0px, transparent 30px, #fff 30px);
    z-index: 21;
    transform: rotateY(180deg);
  }
  .swiper {
    z-index: 20;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    overflow: hidden;
  }
  .image {
    width: 100%;
    height: 100%;
  }
}
.bd {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 340rpx;
}
.search-section {
  position: relative;
  margin-bottom: 30rpx;
  padding: 0 40rpx;
  margin-top: 10px;
  .search-wrapper {
    width: 100%;
    font-size: 25rpx;
    color: #bfbfbf;
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px 20rpx;
    box-sizing: border-box;
    .icon {
      width: 31rpx;
      height: 31rpx;
      margin-right: 12rpx;
    }
    text {
      line-height: 27px;
    }
  }
}

.my-navigateBar {
  .weui-navigation-bar__placeholder {
    display: none;
  }
}

.notify-section {
  margin-top: 30rpx;
  .box {
    background: #f4f4f4;
    border-radius: 12rpx;
    padding: 18rpx 24rpx;
  }
  .notify-swiper {
    height: 24px;
  }
  .flex-box{
    height: 24px;
  }
  .label {
    font-size: 20rpx;
    height: 20px;
    border-radius: 6rpx;
    color: #f79c43;
    border:1Px solid #f79c43;
    margin-right: 20rpx;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 14rpx;
  }
  .con {
    line-height: 24px;
    font-size: 14px;
    flex: 1;
    width:1%;
    font-size: 26rpx;
    @include nowrap();
  }
}
