@import '../../scss/minxi/minxi.scss';
@import '../../scss/variable/variable.scss';
page {
  background: #fff;
}
.page {
  padding-top: 70rpx;
  .title {
    font-size: 43rpx;
    font-weight: 500;
    margin-bottom: 30rpx;
  }
  .summary {
    font-size: 25rpx;
    padding-bottom: 70rpx;
    @include border-bottom($borderColor, 0, 0);
  }
}
.label {
  font-size: 30rpx;
  font-weight: 500;
  color: #333333;
}
.time-rang {
  font-size: 25rpx;
  @include border-bottom($borderColor, 0, 0);
  padding: 50rpx 0 calc(50rpx - 10px);
  .fat {
    margin: 0 10rpx;
  }
  .time-rang__picker {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  .pciker {
    line-height: 24px;
    font-size: 25rpx;
  }
}

.form-group {
  padding: 50rpx 0 30rpx!important;
  .label {
    margin-bottom: 50rpx ;
    font-size: 30rpx !important;
    font-weight: 500 !important;
    color: #333 !important;
  }
}

.last-group{
  margin-top: -30rpx !important;
}
