@import "../../scss/minxi/minxi.scss";
@import "../../scss/variable/variable.scss";
page {
  background: #fff;
}
.page {
  padding-bottom: 160rpx;
}
.top-section {
  padding: 40rpx 0 calc(40rpx - 10px);
  @include border-bottom($borderColor, 0, 0);
  .name {
    font-size: 36rpx;
    color: #000;
    font-weight: 500;
    flex: 1;
  }
  .price {
    font-weight: 500;
    color: #0866FF;
    font-size: 34rpx;
  }
  .base {
    display: flex;
    align-items: center;
    margin-top: 20rpx;
    flex-wrap: wrap;
    .icon-item {
      display: flex;
      align-items: center;
      margin-right: 40rpx;
      white-space: nowrap;
      margin-bottom: 10px;
    }
    .icon {
      width: 30rpx;
      height: 30rpx;
      margin-right: 10rpx;
    }
    .text {
      font-size: 28rpx;
    }
  }
}

.detail-section {
  padding: 60rpx 0;
  @include border-bottom($borderColor, 0, 0);
  .title {
    font-weight: 500;
    color: #000;
    font-size: 35rpx;
    margin-bottom: 50rpx;
  }
  .content {
    font-size: 28rpx;
    color: #666;
    line-height: 150%;
  }
}

.company-section {
  padding: 47rpx 0 0;
  .logo {
    width: 112rpx;
    height: 112rpx;
    margin-right: 18rpx;
    border-radius: 4px;
  }
  .name {
    font-size: 33rpx;
    margin-bottom: 20rpx;
    font-weight: 500;
  }
  .info {
    font-size: 27rpx;
    color: #999999;
  }
  .map {
    margin-top: 60rpx;
    .image {
      width: 100%;
      height: 460rpx;
      border-radius: 6px;
    }
  }
}

.button-group {
  height: 140rpx;
  display: flex;
  align-items: center;
  background: #fff;
  .action-wrapper {
    display: flex;
    flex: 0 0 auto;
    .action-item {
      position: relative;
      min-width: 55px;
      height: 80rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 5rpx 0;
      margin-left: 10rpx;
      .icon {
        font-size: 20px;
        font-weight: 700;
      }
      .text {
        font-size: 24rpx;
        color: #666;
        margin-top: auto;
      }
    }
  }
  .button {
    flex: 1;
    height: 80rpx;
    margin-right: 40rpx;
    margin-left: 10rpx;
  }
}