$bodycolor: #529ad7;
$borderColor: #EBEBEB;

$tabBarColor: #408ce2; //底部tab颜色

$pageBackgorund: #f6f7fb;

$paddingContent: 30rpx;


$button-normal: #2351D3;

$button-danger: #e93b3d;

$button-success: #409eff;

$button-wait: #009944;
