@import "../../scss/minxi/minxi.scss";
@import "../../scss/variable/variable.scss";
page {
  background: #fff;
}
.page {
  padding-top: 70rpx;
}
.title {
  font-size: 43rpx;
  font-weight: 500;
  margin-bottom: 30rpx;
}
.textarea-control {
  height: 250rpx;
  width: 100%;
  font-size: 26rpx;
}


.ql-container {
  min-height: calc(100vh - 70rpx - 52rpx - 30rpx - 140rpx - 20rpx)
}